modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "glibcLocales", "libcxx", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[agent]
integrations = ["streamlit_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "NexusOS"

[[workflows.workflow]]
name = "NexusOS"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33393
externalPort = 3002

[[ports]]
localPort = 33989
externalPort = 6000

[[ports]]
localPort = 36719
externalPort = 5000

[[ports]]
localPort = 37683
externalPort = 3003

[[ports]]
localPort = 37971
externalPort = 6800

[[ports]]
localPort = 38001
externalPort = 3000

[[ports]]
localPort = 39975
externalPort = 4200

[[ports]]
localPort = 40573
externalPort = 8000

[[ports]]
localPort = 42997
externalPort = 5173

[[ports]]
localPort = 44815
externalPort = 8080

[[ports]]
localPort = 46763
externalPort = 3001
